{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>Signin</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form action="" method="post">
          {% csrf_token %} {{form.as_p}}
          <input type="submit" id="button" />
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap"></div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
